<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>페북, 트위터 공유</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="pragma" content="nocache"/>
    <meta http-equiv="Expires" content="-1"/>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <link rel="canonical" href="https://medium.com/conquering-corporate-america/new-york-city-vs-san-francisco-part-deux-4408298e8c01">
    <meta name="title" content="title : [5월의선물] 비누꽃 장미 한송이 장미 (옐로우 박스)">
    <meta name="referrer" content="always">
    <meta name="description" content="description : [5월의선물] 비누꽃 장미 한송이 장미 (옐로우 박스)">
    <meta property="og:site_name" content="Medium">
    <meta property="og:title" content="og:title : [5월의선물] 비누꽃 장미 한송이 장미 (옐로우 박스)">
    <meta property="og:url" content="https://medium.com/conquering-corporate-america/new-york-city-vs-san-francisco-part-deux-4408298e8c01">
    <meta property="og:image" content="http://img-gift.talk.kakao.co.kr/image/3147418.jpg">
    <!--<meta property="fb:app_id" content="542599432471018">-->
    <meta property="og:description" content="마음을 전하는 선물하기">
    <meta name="twitter:site" content="@kakaoteam">
    <meta name="twitter:image:src" content="http://img-gift.talk.kakao.co.kr/image/3147418.jpg">
    <link rel="publisher" href="https://plus.google.com/103654360130207659246">
    <link rel="author" href="https://medium.com/@sarahcpr">
    <meta name="author" content="Sarah Cooper">
    <meta property="og:type" content="article">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="article:publisher" content="https://www.facebook.com/medium">
    <meta property="article:author" content="https://medium.com/@sarahcpr">
    <meta property="fb:smart_publish:robots" content="noauto">
    <meta property="article:published_time" content="2016-05-11T17:06:55.752Z">
    <meta name="twitter:creator" content="@kakaoteam">
    <meta name="twitter:label1" value="Reading time">
    <meta name="twitter:data1" value="1 min">
    <meta name="twitter:app:name:iphone" content="카카오톡">
    <meta name="twitter:app:id:iphone" content="362057947">
    <meta name="twitter:app:url:iphone" content="kakaotalk://gift/home?${url_params_string}">
    <meta property="al:ios:app_name" content="카카오톡">
    <meta property="al:ios:app_store_id" content="362057947">
    <meta property="al:android:package" content="com.kakao.talk">
    <meta property="al:android:app_name" content="카카오톡">
    <meta property="al:ios:url" content="kakaotalk://gift/home?${url_params_string}">
    <meta property="al:android:url" content="kakaotalk://gift/home?${url_params_string}">
    <meta property="al:web:url" content="https://gift-talk.kakao.com">
    </head>
    <body>
    
    </body>
</html>
